*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    margin: 0 -16px 0 2px;
}

/*
ul {
    background-color: black;
}

li {
    display: inline-block;
    color: #f4f4f4;
}
*/

header {
    margin-bottom: 5px;
}

.platter-cards, .main-page, .sandwiches { 
    display: inline-block;
    text-align: center;
    background-color: black;
    padding: 10px 0px;
    color: #f4f4f4;
    margin: -2px;
/*    background-color: #005395;*/
/*    text-shadow: black 1px 1px;*/
/*    border-radius: 10px;*/
}

.main-left, .main-center, .main-right {
    float: left;
/*    margin-right: 4px;*/
}

.main-left {
    max-height: 800px;
    overflow: auto;
}

.main-right {
    max-height: 800px;
    overflow: auto;
}

.platter-cards, .main-left {
    width: 15%;
}

.main-page, .main-center {
    width: 70%;
}

.sandwiches, .main-right {
    width: 15%;
}

.top-left, .top-right, .bottom-left, .bottom-right {
    float: left;
    width: 49%;
    height: 500px;
}

.top-left {
    border-right: dashed black 1px;
    border-bottom: dashed black 1px;
}

.top-right {
    border-left: dashed black 1px;
    border-bottom: dashed black 1px;
}

.bottom-left {
    border-right: dashed black 1px;
    border-top: dashed black 1px;
}

.bottom-right {
    border-left: dashed black 1px;
    border-top: dashed black 1px;
}

.platter {
/*    background-color: #ffd204;*/
    background-color: #005395;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5em;
    margin-bottom: 2px;
    color: white;
}

.platter div {
    font-size: 1.1rem;
}

[id*="drag"] > .hide-show {
    display: none;
}

[id*="div"] > [id*="drag"] .hide-show {
    display: contents;
}

[id*="div"] .platter {
    display: none;
}

.platter-name {
    font-size: 2rem;
    text-align: center;
}

.color {
    font-size: 1.2rem;
}

.sandwich {
    background-color: #ffd204;;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-bottom: 2px;
}

.sandwich-name {
    font-size: 1.2rem;
}

.sandwich-print {
    padding: 5px;
}

.sandwich summary {
    font-size: 1.2rem;
}

@media print {
    header, .main-left, .main-right {
        display: none;
    }
    
    .main-center {
        width: 100%;
    }
    
    .platter-name {
        margin-top: 10px;
    }
    
    .top-left, .top-right, .bottom-left, .bottom-right {
        border: none;
    }
}

/*
#div1 .platter {
    display: none;
}

#div2 .platter {
    display: none;
}

#div3 .platter {
    display: none;
}

#div4 .platter {
    display: none;
}
*/

/*
#drag1 > .hide-show {
    display: none;
}

#drag2 > .hide-show {
    display: none;
}

#drag3 > .hide-show {
    display: none;
}

#drag4 > .hide-show {
    display: none;
}

#drag5 > .hide-show {
    display: none;
}

#drag6 > .hide-show {
    display: none;
}

#drag7 > .hide-show {
    display: none;
}

#drag8 > .hide-show {
    display: none;
}

#drag9 > .hide-show {
    display: none;
}

#drag10 > .hide-show {
    display: none;
}
*/

/*
#div1 > #drag1 .hide-show {
    display: contents;
}
*/

/*
#div1 > #drag2 .hide-show {
    display: contents;
}
*/

/*
#div1 > #drag3 .hide-show {
    display: contents;
}
*/

/*
#div1 > #drag4 .hide-show {
    display: contents;
}
*/

/*
#div1 > #drag5 .hide-show {
    display: contents;
}
*/

/*
#div1 > #drag6 .hide-show {
    display: contents;
}
*/

/*
#div1 > #drag7 .hide-show {
    display: contents;
}
*/

/*
#div1 > #drag8 .hide-show {
    display: contents;
}
*/

/*
#div1 > #drag9 .hide-show {
    display: contents;
}
*/

/*
#div1 > #drag10 .hide-show {
    display: contents;
}
*/

/*
#div2 > #drag1 .hide-show {
    display: contents;
}
*/

/*
#div2 > #drag2 .hide-show {
    display: contents;
}
*/

/*
#div2 > #drag3 .hide-show {
    display: contents;
}
*/

/*
#div2 > #drag4 .hide-show {
    display: contents;
}
*/

/*
#div2 > #drag5 .hide-show {
    display: contents;
}
*/

/*
#div2 > #drag6 .hide-show {
    display: contents;
}
*/

/*
#div2 > #drag7 .hide-show {
    display: contents;
}
*/

/*
#div2 > #drag8 .hide-show {
    display: contents;
}
*/

/*
#div2 > #drag9 .hide-show {
    display: contents;
}
*/

/*
#div2 > #drag10 .hide-show {
    display: contents;
}
*/

/*
#div3 > #drag1 .hide-show {
    display: contents;
}
*/

/*
#div3 > #drag2 .hide-show {
    display: contents;
}
*/

/*
#div3 > #drag3 .hide-show {
    display: contents;
}
*/

/*
#div3 > #drag4 .hide-show {
    display: contents;
}
*/

/*
#div3 > #drag5 .hide-show {
    display: contents;
}
*/

/*
#div3 > #drag6 .hide-show {
    display: contents;
}
*/

/*
#div3 > #drag7 .hide-show {
    display: contents;
}
*/

/*
#div3 > #drag8 .hide-show {
    display: contents;
}
*/

/*
#div3 > #drag9 .hide-show {
    display: contents;
}
*/

/*
#div3 > #drag10 .hide-show {
    display: contents;
}
*/

/*
#div4 > #drag1 .hide-show {
    display: contents;
}
*/

/*
#div4 > #drag2 .hide-show {
    display: contents;
}
*/

/*
#div4 > #drag3 .hide-show {
    display: contents;
}
*/

/*
#div4 > #drag4 .hide-show {
    display: contents;
}
*/

/*
#div4 > #drag5 .hide-show {
    display: contents;
}
*/

/*
#div4 > #drag6 .hide-show {
    display: contents;
}
*/

/*
#div4 > #drag7 .hide-show {
    display: contents;
}
*/

/*
#div4 > #drag8 .hide-show {
    display: contents;
}
*/

/*
#div4 > #drag9 .hide-show {
    display: contents;
}
*/

/*
#div4 > #drag10 .hide-show {
    display: contents;
}
*/