*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    margin: 0 0 0 6px;
}

header {
    margin-bottom: 5px;
}

.platter-cards, .main-page, .sandwiches { 
    display: inline-block;
    text-align: center;
    background-color: #005395;
    padding: 30px 0px;
    margin: 0px;
    color: white;
    text-shadow: black 1px 1px;
    border-radius: 10px;
}

.main-left, .main-center, .main-right {
/*    display: inline-block;*/
    float: left;
    margin-right: 4px;
}

.main-left {
    max-height: 800px;
    overflow: auto;
}

.main-right {
    max-height: 800px;
    overflow: auto;
}

.platter-cards, .main-left {
    width: 15%;
}

.main-page, .main-center {
    width: 69%;
}

.sandwiches, .main-right {
    width: 15%;
}

/*
.main-center {
    border-right: dashed black 1px;
}
*/

.top-left, .top-right, .bottom-left, .bottom-right {
/*    display: inline-block;*/
    float: left;
    width: 49%;
    height: 500px;
}

.top-left {
    border-right: dashed black 1px;
    border-bottom: dashed black 1px;
}

.top-right {
    border-left: dashed black 1px;
    border-bottom: dashed black 1px;
}

.bottom-left {
    border-right: dashed black 1px;
    border-top: dashed black 1px;
}

.bottom-right {
    border-left: dashed black 1px;
    border-top: dashed black 1px;
}

.platter {
/*    background-color: #ffd204;*/
    background-color: #005395;
    padding: 20px 20px;
    border-radius: 15px;
    font-size: 1.5em;
    margin-bottom: 5px;
    color: white;
}

.platter div {
    font-size: 1.1rem;
}

#drag1 > .hide-show {
    display: none;
}

#drag2 > .hide-show {
    display: none;
}

#drag3 > .hide-show {
    display: none;
}

#div1 > #drag1 .hide-show {
    display: contents;
}

#div1 > #drag2 .hide-show {
    display: contents;
}

#div1 > #drag3 .hide-show {
    display: contents;
}

#div1 .platter {
    display: none;
}



.platter-name {
    font-size: 2rem;
    text-align: center;
}

.color {
    font-size: 1.2rem;
}

.sandwich {
    background-color: #ffd204;;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-bottom: 2px;
}

.sandwich-name {
    font-size: 1.2rem;
}

.sandwich-print {
    padding: 5px;
}

.sandwich summary {
    font-size: 1.2rem;
}