.platter-cards, .main-page, .sandwiches { 
    display: inline-block;
    text-align: center;
}

.main-left, .main-center, .main-right {
    display: inline-block;
}

.platter-cards, .main-left {
    width: 15%;
}

.main-page, .main-center {
    width: 68%;
}

.sandwiches, .main-right {
    width: 15%;
}

.main-left, .main-center {
    border-right: dashed black 1px;
    height: 500px;
}